<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script>
    var socket = io('wss://radiognu.org:7777');
    var currentMetadata = {
        artist: '',
        title: ''
    };
    socket.on('metadata', function(data) {
        if (currentMetadata.title != metadata.title && currentMetadata.artist != metadata.artist) {
            currentMetadata = metadata;
            console.log('Recibidos nuevos metadatos: ' + JSON.stringify(data));
        } else {
            console.log('Recibidos metadatos duplicados: ' + JSON.stringify(data));
        }
    });
    socket.on('listeners', function(listeners) {
        console.log('Recibidos datos de escuchas conectados: ' + listeners);
    });
</script>
